* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #0a122a;
  --secondary-color: #8db600;
  --accent-color: #bebfc5;
  --fourth-color: #fbfaf8;
}

body {
  background-color: var(--fourth-color);
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* HEADER - NAV */
.header {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  color: var(--fourth-color);
  font-size: 20px;
}

.heading {
  padding-inline: 20px;
}

.header-nav {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 30px;
}

.logo {
  width: 100%;
  height: auto;
}

.logo img {
  height: 80px;
}

.nav {
  flex-direction: column;
  color: var(--primary-color);
  display: none;
  overflow: hidden;
}

.nav a {
  color: var(--primary-color);
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
}

.nav a:hover {
  background-color: var(--primary-color);
  color: var(--fourth-color);
  border-radius: 7px;
}

.menu-icon {
  color: var(--primary-color);
}

.hero {
  position: relative;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-content {
  position: relative;
  z-index: 2;
  text-align: left;
  color: var(--fourth-color);
  padding: 15px;
  border-radius: 10px;
  margin-inline: 40px;
}

.hero-title {
  font-size: 36px;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 10px;
  text-align: center;
}

.hero-prgf {
  font-size: 20px;
  margin-bottom: 15px;
}

.hero-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/* FIRST SECTION MAIN */
.main-hero {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.img-main {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-title {
  font-size: 35px;
  margin-top: 30px;
  margin-left: 20px;
  align-self: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* CARDS CONTAINER */
.card-container {
  display: flex;
  flex-direction: column;
}

.card-header h3 {
  font-size: 28px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.card-header p {
  font-size: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.box-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  background-color: var(--primary-color);
  color: var(--fourth-color);
  border: 4px solid rgb(156, 232, 42);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-top: 10px;
}

.cards img {
  object-fit: cover;
  width: 400px;
  height: auto;
}

.cards-tag {
  align-self: flex-start;
  margin: 20px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 5px 10px;
  border-radius: 4px;
}

.cards-title {
  align-self: flex-start;
  padding-inline: 20px;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 700;
}

.cards-info {
  margin-bottom: 20px;
}

.card-btn {
  align-self: flex-start;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 5px 20px;
  background-color: var(--accent-color);
  color: var(--primary-color);
  border-radius: 5px;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
}

.card-btn:hover {
  background-color: var(--fourth-color);
  color: var(--primary-color);
}

/* MIDDLE SECTION */
.middle-section img {
  width: 100%;
  height: 325px;
  object-fit: cover;
}

.middle-section {
  position: relative;
}

.middle-section .midle-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000070;
  color: var(--fourth-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-inline: 10px;
}

.midle-info span {
  font-size: 28px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 800;
}

.midle-info p {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}

.middle-btn {
  margin-bottom: 20px;
  padding: 5px 20px;
  background-color: var(--secondary-color);
  color: var(--fourth-color);
  border-radius: 5px;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
}

/* CONTACT US */
.contactUs-container {
  display: flex;
  flex-direction: column;
  margin-block: 30px;
  margin-inline: 30px;
  align-items: center;
  justify-content: center;
}

.contactus-title {
  font-size: 28px;
  font-weight: 800;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  margin-bottom: 20px;
}

.contactus-titleinfo {
  text-align: center;
  font-size: 20px;
  margin-bottom: 40px;
}

.contactUs-cards {
  display: flex;
  flex-direction: column;
}

.contactus-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 30px;
}

.card-title-contactus {
  font-size: 24px;
  font-weight: 800;
}

.card-description-contactus {
  text-align: center;
  font-size: 18px;
}

.card-info-contactus {
  font-size: 18px;
  text-decoration: underline;
  margin-bottom: 20px;
}

/* FREQUENTLY QUESTIONS */
.fq-container {
  display: flex;
  flex-direction: column;
  margin-inline: 20px;
}

.fq-title {
  font-size: 30px;
  font-weight: 800;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 20px;
}

.fq-content {
  font-size: 20px;
  margin-bottom: 20px;
}

.fq-btn {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--fourth-color);
  border-radius: 5px;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  border: none;
}

.fq-boxcards {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.fq-query {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid black;
  max-width: 100%;
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--fourth-color);
}

.footer-logo img {
  width: 100px;
  height: auto;
  /* object-fit: contain; */
  /* transform: scale(1.9); */
  margin-left: 20px;
  margin-block: 20px;
}

.footer-sub {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
  padding-inline: 20px;
}

.footer-sub-description {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.sub-form input {
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #333333;
}

.btn-footer {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--fourth-color);
  border-radius: 5px;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  border: none;
}

.privacy-info {
  font-size: 14px;
  margin-bottom: 30px;
}

.socialmedia-section {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.follow-us {
  font-size: 24px;
  font-weight: 800;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 20px;
}

social-media-links li {
  text-decoration: none;
}

li::marker {
  content: none;
}

.icon-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  width: 20%;
  height: auto;
}

a {
  display: flex;
  text-decoration: none;
  gap: 0.5rem;
  margin-bottom: 20px;
  font-size: 20px;
  color: #000000;
  font-family: Georgia, "Times New Roman", Times, serif;
  align-items: center;
}

a:hover {
  color: var(--accent-color);
}

.copyright-section {
  border-top: 1px solid black;
  margin-inline: 5%;
}

.copyright {
  font-size: 18px;
  margin-left: 10px;
  margin-block: 20px;
}

/* MEDIA QUERIES */
@media screen and (min-width: 501px) {
  /* HEADER */
  .hero {
    height: 200px;
  }

  .hero-img {
    height: 200px;
  }

  .img-main {
    align-self: center;
    max-width: 70%;
    height: auto;
    margin-inline: 50px;
  }

  /* CARDS */
  .card-header {
    margin-top: 30px;
    align-self: center;
  }

  .box-card {
    flex-direction: row;
    gap: 2rem;
  }

  /* MIDDLE SECTION */
  .middle-section img {
    object-position: 100% 78%;
  }

  /* CONTACT US */
  .contactUs-cards {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .contactus-titleinfo {
    margin-inline: 20%;
    /* border: 1px solid black; */
  }

  /* FREQUENTLY QUESTIONS */
  .fq-container {
    flex-direction: row;
    margin-top: 50px;
    gap: 8rem;
  }

  .fq-item {
    width: 800px;
    margin-bottom: 10px;
    padding: 10px 0;
  }

  .fq-query {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
  }

  .fq-query img {
    margin-left: 10px;
  }

  .query-info {
    padding: 10px 0;
    display: none;
  }

  .query-info:not(.hidden) {
    display: block;
  }

  .query-info.hidden {
    display: none;
  }

  /* FOOTER */
  .footer-fnew {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-inline: 40px;
    align-items: center;
  }

  .footer-logo img {
    margin-left: 60px;
    margin-bottom: 0;
  }

  .btns-fs {
    display: flex;
    max-width: 60%;
    flex-direction: column;
    /* gap: 1rem; */
  }

  .sub-form {
    width: 100%;
  }

  .socialmedia-section {
    margin-right: 20%;
  }
}
