* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #e3ecee;
  }

 .header{
    background-color: #3d6c48;
    padding: 30px;
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    color: white;
 }

 .main{
    display: flex;
    flex-direction: column;
 }

 .form{
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: right;
    padding: 30px;
 }

 .productName-title{
    font-size: 22px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 10px;
 }

 .productChoose{
    margin-bottom: 30px;
    font-size: 18px;
    padding: 15px;
 }

 /* OVERALL RATING*/
 .overall{
    font-size: 22px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 10px;
 }

 .stars-field{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    flex-grow: 1;
    gap: 5px;
 }

 .stars-container {
	display: flex;
    margin-bottom: 30px;

}

/* DATE */
.date{
    font-size: 22px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 10px;
}

.date-container{
    margin-bottom: 30px;
    font-size: 18px;
    padding: 15px;
}

/* FEATURES */
.features-container{
    border: none;
    margin-bottom: 30px;
}

.features-title{
    font-size: 22px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 5px;
}

.features-subtitle{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

.checkbox-features {
    display: flex;
    align-items: center;
}

.checkbox-label{
    margin: 10px;
}


input[type=checkbox]{
    width: 25px;
    height: 25px;
    transform: scale(1);
}

/* WITTEN REVIEW */
.written-title{
    font-size: 22px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 10px;
}

.written-title .optional{
    color: rgb(1, 1, 195);
    font-size: 16px;
}

.written-container{
  padding: 50px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  margin-bottom: 30px;
}

/* USERNAME */
.username{
    font-size: 22px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 10px;
}

.username .optional{
    color: rgb(1, 1, 195);
    font-size: 16px;
}

.username-text{
  padding: 15px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  margin-bottom: 30px;
}

/* BUTTON */

.button{
    padding: 15px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}

/* FOOTER */

.footer {
    flex-grow: 1;
    grid-column: 1/5;
    grid-row: 11/12;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 20px;
    background-color:#3d6c48;
    color: white;
  }
  
  .footer-card {
    display: flex;
    gap: 10px;
  }
  
  @media screen and (min-width: 768px) {
    .main{
        border-radius: 5px;
        border: 1px solid #ccc;
        box-shadow: 1px 1px 1px #999;
        max-width: 800px;
        margin: 20px auto;
        background-color: #e4ede6;
    }
  }