:root {
  --primary-color: #32405e;
  --secondary-color: #e8f1ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  background-color: var(--primary-color);
}

/* HEADER */

.header {
  text-align: center;
  padding: 30px;
}

.title-header {
  font-size: 40px;
  font-weight: 800;
  color: #ffffff;
  letter-spacing: 2px;
}

/* MAIN */
.hero {
  overflow: hidden;
  width: 100%;
}

.img-hero {
  display: block;
  width: 100%;
}

.card {
  width: 80%;
  margin-inline: auto;
  border-radius: 5px;
  background-color: var(--secondary-color);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.05);
  padding-block: 30px;
  margin-block: 20px;
}

.card-title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  display: block;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card-title-icon {
  width: 100px;
  margin-inline: auto;
}

.svg {
  margin-inline: auto;
  width: 100px;
  height: 100px;
}

table {
  width: 100%;
}

table tr {
  display: flex;
  gap: 5px;
}

table th {
  flex-basis: 50%;
  text-align: right;
  padding-inline: 4px;
}

table td {
  flex-basis: 50%;

  text-align: left;
}

/* FOOTER */
.footer {
  flex-grow: 1;
  grid-column: 1/5;
  grid-row: 11/12;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 25px;
  background-color: #f0f8fb;
  color: var(--primary-color);
  font-weight: bold;
}

.footer-card {
  display: flex;
  gap: 10px;
}

@media screen and (min-width: 500px) {
  .main {
    position: relative;
  }

  .card {
    width: 320px;
    position: absolute;
    top: 20px;
    left: 20px;
    margin: unset;
    padding-block: 10px;
    background-color: #ffffffb3;
  }

  .card.bottom {
    top: unset;
    left: unset;
    right: 20px;
    bottom: 20px;
  }

  .card-title {
    padding-block: 20px;
    padding-inline: 10px;
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    margin-left: -10px;
    flex-direction: row;
    justify-content: flex-start;
    width: 95%;
  }

  .card-title-with-icon,
  .svg::after {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .svg {
    margin: 0;
    width: 50px;
    height: 50px;
  }

  .hero-img {
    object-fit: cover;
    width: 100%;
    height: 700px;
  }
}
