body {
  font-family: "Roboto", sans-serif;
}

.header {
  max-width: 640px;
  margin: 1rem auto;
  border: 1px solid black;
  padding: 1rem;
  background: #072642;
  color: white;
}

.main-header {
  display: grid;
  grid-column: 1fr;
  gap: 1rem;
}

.section {
  padding: 1rem;
  background-color: #f5eef8;
  color: black;
}
